<p class="pull-right">
  [<%= link_to('edit this post', edit_post_path(@post)) %>]
</p>

<%= render 'shared/post_title', title: @post.title, link_title: @post.url %>
<div class="well span8">
  <p>
    <div id="post_description"><%= @post.description %></div>
  </p>
</div>